<div *ngIf="marker as m" class="marker-detail">
  <header class="header">
    <button mat-icon-button [attr.aria-label]="'Close'" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>

    <div class="title-wrap">
      <h2 class="title" [title]="isNew ? 'New marker' : m.title">
        {{ isNew ? 'New marker' : m.title }}
      </h2>

      <div class="rating-inline" *ngIf="!isNew && m.ratingsCount != null">
        <mat-icon class="star" fontIcon="star"></mat-icon>
        <span class="avg">{{ (m.avgRating || 0) | number:'1.1-1' }}</span>
        <span class="count">({{ m.ratingsCount || 0 }})</span>
      </div>
    </div>

    <span class="spacer"></span>

    <ng-container *ngIf="isNew; else existingActions">
      <button mat-flat-button color="primary" (click)="save()">Create</button>
      <button mat-button (click)="close()">Cancel</button>
    </ng-container>

    <ng-template #existingActions>
      <ng-container *ngIf="m.ownedByMe; else notOwnerActions">
        <ng-container *ngIf="!editing; else editingActions">
          <button mat-stroked-button color="primary" (click)="enableEdit()">Edit</button>
          <button mat-button color="warn" (click)="remove()">Delete</button>
        </ng-container>

        <ng-template #editingActions>
          <button mat-flat-button color="primary" (click)="save()">Save</button>
          <button mat-button (click)="disableEdit()">Cancel</button>
        </ng-template>
      </ng-container>

      <ng-template #notOwnerActions></ng-template>
    </ng-template>
  </header>

  <section *ngIf="!editing; else editForm" class="view">
    <p class="desc" *ngIf="m.description">{{ m.description }}</p>
    <p class="addr" *ngIf="m.address">{{ m.address }}</p>
    <div class="coords">({{ m.lat }}, {{ m.lng }})</div>

    <div class="photos" *ngIf="m.photos?.length">
      <div class="photo" *ngFor="let p of m.photos">
        <img [src]="p.thumbnailUrl || p.url" [alt]="m.title">
        <button mat-mini-button color="warn" *ngIf="m.ownedByMe" (click)="deletePhoto(p.id)">Delete</button>
      </div>
    </div>

    <div class="rating-actions" *ngIf="!isNew">
      <ng-container *ngIf="!m.ownedByMe; else ownerNoRate">
        <div *ngIf="myScore; else rateBlock">
          My rating: {{ myScore }} ⭐
          <button mat-button (click)="deleteMyScore()">Delete</button>
        </div>
        <ng-template #rateBlock>
          <span>Rate: </span>
          <button
            mat-icon-button
            *ngFor="let s of [1,2,3,4,5]"
            (click)="setScore(s)"
            [attr.aria-label]="'Rate ' + s">
            <mat-icon>star</mat-icon>
          </button>
        </ng-template>
      </ng-container>
      <ng-template #ownerNoRate></ng-template>
    </div>
  </section>

  <ng-template #editForm>
    <form [formGroup]="form" class="form">
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="4"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline" class="address-field">
        <mat-label>Address</mat-label>
        <input matInput formControlName="address" readonly class="readonly-input">
        <button mat-icon-button matSuffix type="button" (click)="openGeocoder()" aria-label="Search an address">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <div class="grid">
        <mat-form-field appearance="outline">
          <mat-label>Lat</mat-label>
          <input matInput type="number" formControlName="lat">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Lng</mat-label>
          <input matInput type="number" formControlName="lng">
        </mat-form-field>
      </div>

      <div class="photos-edit" *ngIf="m.ownedByMe">
        <button mat-stroked-button type="button" (click)="addPhoto()">
          Add a photo
        </button>

        <div class="thumbs" *ngIf="m.photos?.length">
          <div class="thumb" *ngFor="let p of m.photos">
            <img [src]="p.thumbnailUrl || p.url" [alt]="m.title">
            <button mat-mini-button color="warn" type="button" (click)="deletePhoto(p.id)">Delete</button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</div>
