.map-drawer-container {
  height: 100%;
}

.map-wrapper,
.map-container {
  height: 100%;
  width: 100%;
}

.fab-create {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 2;
}

.detail-drawer {
  z-index: 3;
  width: 380px;
  max-width: 90vw;
}
